html *
{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.row,.header {
    padding-top: 25px;
}
a {
    text-decoration: none;
}
.maincont{
    height: 320px;
}

.myphoto img{
    border-radius: 50%;
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.name {
    color: rgb(125, 89, 50);
}
.telnum {
    padding-top: 10px;
}
.aboutm {
    margin-top: 40px;
}

.proffesion {
    color: rgb(125, 89, 50);
    font-family: 'Roboto', sans-serif;
}


.contact img{
    width: 4vh;
    margin: 10px;
    box-shadow: 0 0 20px rgb(234, 214, 167);

}
.contact {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    
}
.callnumb {
    text-align: right;
    margin-top: 10px;
    color: rgb(125, 89, 50);
}

.headcol {
    background-color: rgb(234, 214, 187);
}

.what-i-know{
    text-align: left;

}
.what-learn-now {
    text-align: right;
}
.wik {
    margin-top: 40px;
    
}

.sub {
    margin-left: 40px;
    font-size: 90%;
    background: antiquewhite;
    display: inline-block;
    border-radius: 10px;
    padding: 5px
}

.test {
    margin-bottom: 20px;
    

}

.joke {
    font-size: 80%;
}

.about-ms h3{
    text-align: center;
}

.footer1 {

    background-color: rgb(234, 214, 187);
    min-height: calc(20vh - 80px);
    margin-top: 40px;
    border-radius: 10% 10% 0% 0%;
}
body {
    color: rgb(255, 249, 238);
    font-family: 'Roboto', sans-serif;
    background:  rgb(255, 249, 238) !important;
}